<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>

    <div class="container">
       <h1 class="mb-4"><%= article.title %></h1>

       <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
       </div>

       <a href="/community" class="btn btn-secondary">All Articles</a>
       <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

       <div>
            <%- article.sanitizedHtml %>
       </div>

    </div>
</body>
</html>