
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.feeds-mnV {
  box-sizing: border-box;
  padding: 3.6rem 11.6rem 0rem 11.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.feeds-mnV .frame-5-HuF {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 5.7rem;
  display: flex;
  column-gap: 4.85rem;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .geekyblog-hk1 {
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .group-5-Xj3 {
  width: 68rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .group-5-Xj3 .frame-89-4DB {
  box-sizing: border-box;
  padding: 1.35rem 37.4rem 1.15rem 1.1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cfcfcf;
  background-color: #f2f3f4;
  border-radius: 1rem;
}
.feeds-mnV .frame-5-HuF .group-5-Xj3 .frame-89-4DB .search-7SM {
  margin-right: 4.7rem;
  width: 3.1rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .group-5-Xj3 .frame-89-4DB .search-for-articles-bcR {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .frame-4-CcD {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .frame-4-CcD .frame-6-w41 {
  margin-right: 2.4rem;
  width: 11.3rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .frame-5-HuF .frame-4-CcD .frame-3-Y3o {
  width: 13.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 {
  width: 100%;
  height: 318.2rem;
  position: relative;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh {
  box-sizing: border-box;
  padding: 6.4rem 11.9rem 0rem 11.6rem;
  width: 110.4rem;
  height: 318.2rem;
  position: absolute;
  left: 10.4rem;
  top: 0;
  background: linear-gradient(180deg, #ffffff 0%, #f1f5fa 100%);
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 {
  box-sizing: border-box;
  padding-bottom: 38.1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .all-articles-oP3 {
  margin: 0rem 0rem 3.5rem 0.4rem;
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.350000088;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-4-m8q {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-4-m8q .frame-5-1os {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-4-m8q .frame-5-1os .avatar-YYu {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-q5X.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-4-m8q .frame-6-dqF {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-92-szV {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-92-szV .frame-27-qAd {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-92-szV .frame-27-qAd .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-yGq {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .frame-92-szV .frame-27-qAd .item-01-10-2022-DS5 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .item-01-10-2022-9Kj {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--1zu .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-TrD {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-4-zUm {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-4-zUm .frame-5-i9s {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-4-zUm .frame-5-i9s .avatar-qkH {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-Fjs.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-4-zUm .frame-6-kMT {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-92-now {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-92-now .frame-27-udf {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-92-now .frame-27-udf .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fMw {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .frame-92-now .frame-27-udf .item-01-10-2022-ZTK {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .item-01-10-2022-UqB {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-X49 .review--4b7 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-Dnm {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-4-ppV {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-4-ppV .frame-5-ANZ {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-4-ppV .frame-5-ANZ .avatar-WxD {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-BxR.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-4-ppV .frame-6-B2m {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-92-FYR {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-92-FYR .frame-27-QRK {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-92-FYR .frame-27-QRK .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-kzy {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .frame-92-FYR .frame-27-QRK .item-01-10-2022-f6M {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .item-01-10-2022-C6H {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--UMK .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-8Vj {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-4-sLq {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-4-sLq .frame-5-oVP {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-4-sLq .frame-5-oVP .avatar-vpu {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-1NM.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-4-sLq .frame-6-ncD {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-92-rMB {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-92-rMB .frame-27-QNh {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-92-rMB .frame-27-QNh .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Jys {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .frame-92-rMB .frame-27-QNh .item-01-10-2022-D5F {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .item-01-10-2022-x2q {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-kRK .review--9Qq .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-5t9 {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-4-pDT {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-4-pDT .frame-5-8E9 {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-4-pDT .frame-5-8E9 .avatar-5v5 {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-aoX.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-4-pDT .frame-6-AwX {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-92-q25 {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-92-q25 .frame-27-xsP {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-92-q25 .frame-27-xsP .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-6To {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .frame-92-q25 .frame-27-xsP .item-01-10-2022-Bk9 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .item-01-10-2022-gB7 {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--VBB .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-1z5 {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-4-Pjj {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-4-Pjj .frame-5-Xb3 {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-4-Pjj .frame-5-Xb3 .avatar-tRb {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-Rem.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-4-Pjj .frame-6-mEV {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-92-E85 {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-92-E85 .frame-27-PFs {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-92-E85 .frame-27-PFs .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Y8m {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .frame-92-E85 .frame-27-PFs .item-01-10-2022-2Zj {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .item-01-10-2022-mGR {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-Y13 .review--sFb .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-hfs {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-4-BDf {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-4-BDf .frame-5-KKs {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-4-BDf .frame-5-KKs .avatar-ssB {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-7oj.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-4-BDf .frame-6-Bss {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-92-FMw {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-92-FMw .frame-27-oeM {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-92-FMw .frame-27-oeM .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-9CR {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .frame-92-FMw .frame-27-oeM .item-01-10-2022-eQ5 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .item-01-10-2022-PMf {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--rBP .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-GwF {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-4-eB7 {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-4-eB7 .frame-5-aaZ {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-4-eB7 .frame-5-aaZ .avatar-74h {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-2Mj.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-4-eB7 .frame-6-QpV {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-92-5fj {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-92-5fj .frame-27-cvZ {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-92-5fj .frame-27-cvZ .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-n4M {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .frame-92-5fj .frame-27-cvZ .item-01-10-2022-TwB {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .item-01-10-2022-mws {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-KhF .review--7BB .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-tmb {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-4-P65 {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-4-P65 .frame-5-iPF {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-4-P65 .frame-5-iPF .avatar-GvZ {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-4-P65 .frame-6-C3X {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-92-s9f {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-92-s9f .frame-27-csw {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-92-s9f .frame-27-csw .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-BAM {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .frame-92-s9f .frame-27-csw .item-01-10-2022-3iM {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .item-01-10-2022-zNh {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--4Zb .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-LBf {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-4-WEZ {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-4-WEZ .frame-5-2Cu {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-4-WEZ .frame-5-2Cu .avatar-nC5 {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-CmK.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-4-WEZ .frame-6-JAR {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-92-o7B {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-92-o7B .frame-27-ko7 {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-92-o7B .frame-27-ko7 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-uvu {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .frame-92-o7B .frame-27-ko7 .item-01-10-2022-b33 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .item-01-10-2022-Kzd {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-vTP .review--Bi5 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-fob {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-4-ccM {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-4-ccM .frame-5-kiZ {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-4-ccM .frame-5-kiZ .avatar-JEH {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-qPj.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-4-ccM .frame-6-Nzq {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-92-46y {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-92-46y .frame-27-c8V {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-92-46y .frame-27-c8V .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-N7f {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .frame-92-46y .frame-27-c8V .item-01-10-2022-GTw {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .item-01-10-2022-D8H {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--5sK .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-6C5 {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-4-ALM {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-4-ALM .frame-5-u33 {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-4-ALM .frame-5-u33 .avatar-TaM {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-Nvq.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-4-ALM .frame-6-yYh {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-92-Fm7 {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-92-Fm7 .frame-27-zCu {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-92-Fm7 .frame-27-zCu .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-M3T {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .frame-92-Fm7 .frame-27-zCu .item-01-10-2022-7B3 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .item-01-10-2022-3qP {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-8SH .review--q3B .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-zkd {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM {
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-4-QbP {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-4-QbP .frame-5-9J5 {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-4-QbP .frame-5-9J5 .avatar-uHF {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-ewF.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-4-QbP .frame-6-pf7 {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-92-iVb {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-92-iVb .frame-27-UUm {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-92-iVb .frame-27-UUm .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-1zV {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .frame-92-iVb .frame-27-UUm .item-01-10-2022-7Xj {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .item-01-10-2022-rVK {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--jVF .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-zbX {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-4-kUD {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-4-kUD .frame-5-62H {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-4-kUD .frame-5-62H .avatar-Dsb {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-ryT.png');
  border-radius: 2rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-4-kUD .frame-6-jqw {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-92-oL1 {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-92-oL1 .frame-27-ZKB {
  width: 32.2rem;
  height: 9.9rem;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-92-oL1 .frame-27-ZKB .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-v9j {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .frame-92-oL1 .frame-27-ZKB .item-01-10-2022-zfP {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .item-01-10-2022-6TX {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.feeds-mnV .auto-group-niez-db3 .frame-53-ZUh .frame-51-5T3 .review-list-acM .review--22R .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-D2M {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.feeds-mnV .auto-group-niez-db3 .frame-90-nzZ {
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0rem 1.1rem;
  width: 18rem;
  height: 63.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.1rem rgba(207, 207, 207, 0.5);
}
.feeds-mnV .auto-group-niez-db3 .frame-90-nzZ .frame-91-7mw {
  box-sizing: border-box;
  padding: 3rem 0.5rem 42.7rem 0.5rem;
  width: 100%;
  height: 63.2rem;
  overflow: hidden;
  position: relative;
  row-gap: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.feeds-mnV .auto-group-niez-db3 .frame-90-nzZ .frame-91-7mw .feeds-dkH {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-90-nzZ .frame-91-7mw .top-avR {
  margin-left: 0.1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-90-nzZ .frame-91-7mw .bookmarks-Kd7 {
  margin-left: 0.1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.feeds-mnV .auto-group-niez-db3 .frame-90-nzZ .frame-91-7mw .about-Shj {
  margin-left: 0.1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
