
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-private-mT4 {
  box-sizing: border-box;
  padding: 3.6rem 11.6rem 4.4rem 11.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-private-mT4 .frame-80-h5p {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 5.7rem;
  display: flex;
  column-gap: 4.85rem;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .geekyblog-S3Q {
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .group-5-yZ8 {
  width: 68rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .group-5-yZ8 .item--k46 {
  width: 100%;
  height: 100%;
}
.home-private-mT4 .frame-80-h5p .group-5-yZ8 .item--k46 .frame-89-JrJ {
  box-sizing: border-box;
  padding: 1.35rem 37.4rem 1.15rem 1.1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cfcfcf;
  background-color: #f2f3f4;
  border-radius: 1rem;
}
.home-private-mT4 .frame-80-h5p .group-5-yZ8 .item--k46 .frame-89-JrJ .search-eQN {
  margin-right: 4.7rem;
  width: 3.1rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .group-5-yZ8 .item--k46 .frame-89-JrJ .search-for-articles-o2N {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.5);
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .frame-4-61U {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .frame-4-61U .frame-6-FQA {
  margin-right: 2.4rem;
  width: 11.3rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-80-h5p .frame-4-61U .frame-3-wnn {
  width: 13.9rem;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ {
  margin: 0rem 6.35rem 1.7rem 0rem;
  width: calc(100% - 6.35rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .frame-90-yUa {
  margin-right: 9.15rem;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0rem 1.1rem;
  width: 18rem;
  height: 63.2rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem rgba(207, 207, 207, 0.5);
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .frame-90-yUa .frame-91-HkA {
  box-sizing: border-box;
  padding: 3rem 0.5rem 42.7rem 0.5rem;
  width: 100%;
  height: 63.2rem;
  overflow: hidden;
  position: relative;
  row-gap: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-private-mT4 .auto-group-mxfb-eSJ .frame-90-yUa .frame-91-HkA .feeds-D82 {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .frame-90-yUa .frame-91-HkA .top-ZSn {
  margin-left: 0.1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .frame-90-yUa .frame-91-HkA .bookmarks-tzr {
  margin-left: 0.1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .frame-90-yUa .frame-91-HkA .about-dxS {
  margin-left: 0.1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn {
  margin-top: 6.4rem;
  width: 87.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-26-WFY {
  margin: 0rem 3.694rem 7.8rem 3.8rem;
  width: calc(100% - 7.4936rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-26-WFY .group-2-3FU {
  margin-bottom: 3.5rem;
  width: 77.1564rem;
  height: 26rem;
  position: relative;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-26-WFY .group-2-3FU .rectangle-4-PaE {
  width: 50.4548rem;
  height: 4.7038rem;
  position: absolute;
  left: 26.7016rem;
  top: 7.1709rem;
  background-color: #d4d5f6;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-26-WFY .group-2-3FU .helping-people-in-tech-to-share-knowledge-easily-Kyg {
  width: 74.4rem;
  height: 26rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3500000238;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-26-WFY .platform-where-developers-tech-lovers-and-content-creators-can-connect-to-share-about-challenges-overcome-in-solving-a-problem-or-sharing-their-journey-of-becoming-an-expert-at-what-they-do-dDg {
  width: 100%;
  max-width: 79.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4550000971;
  color: #637286;
  font-family: Readex Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .frame-8-eea {
  width: 100%;
  height: 7.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .frame-8-eea .recent-articles-zyL {
  margin-right: 27.7rem;
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.350000088;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .frame-8-eea .frame-7-LGW {
  margin: 1.9rem 0;
  box-sizing: border-box;
  padding-right: 0.3rem;
  height: calc(100% - 3.8rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .frame-8-eea .frame-7-LGW .see-all-articles-sGS {
  margin-right: 1.7rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3500000636;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .frame-8-eea .frame-7-LGW .frame-D5Q {
  margin-bottom: 0.1rem;
  width: 1.8rem;
  height: 0.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z {
  box-sizing: border-box;
  padding-top: 4.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez {
  margin: 0rem 0.3rem 4.8rem 0rem;
  width: calc(100% - 0.3rem);
  height: 42.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 2.75rem 3.3rem 2.6rem 2.8rem;
  width: 41.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dee4ed;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-4-APx {
  margin: 0rem 12.2rem 2.75rem 0rem;
  width: calc(100% - 12.2rem);
  height: 5.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-4-APx .frame-5-h8z {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-4-APx .frame-5-h8z .avatar-qkz {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-Q9c.png');
  border-radius: 2rem;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-4-APx .frame-6-wZ8 {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-26-DmY {
  margin-bottom: 2.7rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-26-DmY .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-yEv {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .frame-26-DmY .item-01-10-2022-5Yr {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-15-34S .molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-R6v {
  margin-right: 0.2rem;
  max-width: 35.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4550000297;
  color: #637286;
  font-family: Readex Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 {
  box-sizing: border-box;
  padding: 2.75rem 3.5rem 2.6rem 2.8rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #dee4ed;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-4-b9p {
  margin: 0rem 12rem 2.75rem 0rem;
  width: calc(100% - 12rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-4-b9p .frame-5-vSz {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-4-b9p .frame-5-vSz .avatar-H2e {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-tjg.png');
  border-radius: 2rem;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-4-b9p .frame-6-nk6 {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-26-HB4 {
  margin-bottom: 2.7rem;
  display: flex;
  flex-direction: column;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-26-HB4 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-3R8 {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .frame-26-HB4 .item-01-10-2022-9j4 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-6ez .frame-17-rT8 .molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-gU6 {
  max-width: 35.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4550000297;
  color: #637286;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  height: 42.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 2.75rem 3.5rem 2.6rem 2.8rem;
  width: 41.5rem;
  border: solid 0.1rem #dee4ed;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-4-zdC {
  margin: 0rem 12rem 2.75rem 0rem;
  width: calc(100% - 12rem);
  height: 5.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-4-zdC .frame-5-8Dc {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-4-zdC .frame-5-8Dc .avatar-Gqc {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-1Pt.png');
  border-radius: 2rem;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-4-zdC .frame-6-Bhg {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-26-fcr {
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-26-fcr .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2TQ {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .frame-26-fcr .item-01-10-2022-wKU {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-15-sYa .molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-gH4 {
  max-width: 35.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4550000297;
  color: #637286;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU {
  box-sizing: border-box;
  padding: 2.75rem 3.5rem 2.6rem 2.8rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #dee4ed;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-4-scS {
  margin: 0rem 12rem 2.75rem 0rem;
  width: calc(100% - 12rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-4-scS .frame-5-1Tk {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-4-scS .frame-5-1Tk .avatar-MnW {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-B6v.png');
  border-radius: 2rem;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-4-scS .frame-6-sF4 {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-26-9yG {
  margin-bottom: 2.7rem;
  display: flex;
  flex-direction: column;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-26-9yG .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-7fC {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .frame-26-9yG .item-01-10-2022-Rvn {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .auto-group-mxfb-eSJ .auto-group-zgnh-9vn .frame-23-ghk .auto-group-cads-x2z .frame-20-LHk .frame-17-XoU .molestie-ac-feugiat-sed-lectus-vestibulum-mauris-sit-amet-massa-vitae-tortor-vel-elit-scelerisque-mauris-pellentesque-pulvinar-pellentesque-habitant-nisl-condimentum-id-venenatis-a-condimentum-mUr {
  max-width: 35.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4550000297;
  color: #637286;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 {
  margin: 0rem 0rem 6.4rem 20.8rem;
  box-sizing: border-box;
  padding: 6.4rem 6.55rem 5.6rem 6.55rem;
  width: 100rem;
  height: 94.7rem;
  background: linear-gradient(180deg, #ffffff 0%, #f1f5fa 100%);
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv {
  width: 100%;
  height: 100%;
  row-gap: 3.6rem;
  display: flex;
  flex-direction: column;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .top-articles-H5p {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ {
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-4-ucz {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-4-ucz .frame-5-FB4 {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-4-ucz .frame-5-FB4 .avatar-Po4 {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-NdL.png');
  border-radius: 2rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-4-ucz .frame-6-JQE {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-92-b8S {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-92-b8S .frame-27-99x {
  width: 32.2rem;
  height: 9.9rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-92-b8S .frame-27-99x .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Vjc {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .frame-92-b8S .frame-27-99x .item-01-10-2022-Dfc {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .item-01-10-2022-xdC {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--yjL .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-JSA {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-4-hDQ {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-4-hDQ .frame-5-qKc {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-4-hDQ .frame-5-qKc .avatar-bJn {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-Nar.png');
  border-radius: 2rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-4-hDQ .frame-6-i8W {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-92-CJa {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-92-CJa .frame-27-k5C {
  width: 32.2rem;
  height: 9.9rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-92-CJa .frame-27-k5C .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-hm8 {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .frame-92-CJa .frame-27-k5C .item-01-10-2022-pqk {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .item-01-10-2022-ZoL {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-2JJ .review--kox .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-WTg {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx {
  width: 100%;
  height: 34.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-4-TGS {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-4-TGS .frame-5-npW {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-4-TGS .frame-5-npW .avatar-M6v {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-k7Q.png');
  border-radius: 2rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-4-TGS .frame-6-f7c {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-92-Yx6 {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-92-Yx6 .frame-27-VsL {
  width: 32.2rem;
  height: 9.9rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-92-Yx6 .frame-27-VsL .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ekE {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .frame-92-Yx6 .frame-27-VsL .item-01-10-2022-MuY {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .item-01-10-2022-W1k {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--X7t .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-EyL {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY {
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 4.2rem 3rem;
  width: 41.5rem;
  height: 100%;
  border: solid 0.1rem #727272;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-4-R2E {
  margin: 0rem 13.5rem 2rem 0rem;
  width: calc(100% - 13.5rem);
  height: 5.8rem;
  display: flex;
  align-items: center;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-4-R2E .frame-5-k4W {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 3.1rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-4-R2E .frame-5-k4W .avatar-6PG {
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  background-size: 100% 148.837%;
  background-image: url('../assets/avatar-joL.png');
  border-radius: 2rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-4-R2E .frame-6-ooU {
  margin: 0.05rem 0;
  width: 15.6rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #dee4ed;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-92-VAW {
  margin-bottom: 2rem;
  width: 100%;
  height: 5.9rem;
  overflow: hidden;
  position: relative;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-92-VAW .frame-27-SbY {
  width: 32.2rem;
  height: 9.9rem;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-92-VAW .frame-27-SbY .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Q2a {
  margin-bottom: 1.5rem;
  max-width: 32.2rem;
  cursor: pointer;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.3500000498;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .frame-92-VAW .frame-27-SbY .item-01-10-2022-vFp {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .item-01-10-2022-fDQ {
  margin-bottom: 1.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4550000599;
  color: #1e1e1e;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-53-1e6 .group-14-8Cv .review-list-ZRx .review--gKY .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-varius-nisi-et-mauris-iaculis-sed-elementum-magna-suscipit-class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia-nostra-bcr {
  max-width: 36.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4666666667;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
}
.home-private-mT4 .frame-72-QqC {
  margin: 0rem 0.1rem 0rem 20.9rem;
  width: calc(100% - 21rem);
  height: 22.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .geekyblog-waE {
  margin-right: 15.7rem;
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-69-3NN {
  margin-right: 6.4rem;
  width: 30rem;
  height: 100%;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-69-3NN .community-CWA {
  margin-bottom: 2.4rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.4550000704;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-69-3NN .frame-68-YK8 {
  width: 100%;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-69-3NN .frame-68-YK8 .frame-66-6bY {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.7rem 0rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4550000191;
  color: #6d6d6d;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dee4ed;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-69-3NN .frame-68-YK8 .frame-67-okr {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.7rem 0rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4550000191;
  color: #6d6d6d;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dee4ed;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-69-3NN .frame-68-YK8 .frame-68-KjC {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.7rem 0rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4550000191;
  color: #6d6d6d;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dee4ed;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-70-djt {
  width: 30rem;
  height: 100%;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-70-djt .explore-bgi {
  margin-bottom: 2.4rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.4550000704;
  color: #000000;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-70-djt .frame-68-YM4 {
  width: 100%;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-70-djt .frame-68-YM4 .frame-66-VXC {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.7rem 0rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4550000191;
  color: #6d6d6d;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dee4ed;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-70-djt .frame-68-YM4 .frame-67-baE {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.7rem 0rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4550000191;
  color: #6d6d6d;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dee4ed;
  flex-shrink: 0;
}
.home-private-mT4 .frame-72-QqC .frame-71-5RY .frame-70-djt .frame-68-YM4 .frame-68-Fen {
  box-sizing: border-box;
  padding: 0.8rem 0rem 0.7rem 0rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4550000191;
  color: #6d6d6d;
  font-family: Readex Pro, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #dee4ed;
  flex-shrink: 0;
}
