* {
    box-sizing: border-box;
}

/* poppins-300 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-v5-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-300italic - latin */

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-italic - latin */

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-500 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins/poppins-v5-latin-500.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-500italic - latin */

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-600 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/poppins/poppins-v5-latin-600.eot");
    /* IE9 Compat Modes */
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-700 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/poppins/poppins-v5-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-700italic - latin */

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-800 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/poppins/poppins-v5-latin-800.eot");
    /* IE9 Compat Modes */
    src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-800italic - latin */

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
    /* IE9 Compat Modes */
    src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-900 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/poppins/poppins-v5-latin-900.eot");
    /* IE9 Compat Modes */
    src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
    /* Legacy iOS */
}

html, 
body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: white;
    font-family: Poppins;
}
header{
    background-color:white;
    height: 66px;
}
header * {
    color : black
}
.clearfix::after{
    content: '' ;
    display: block;
    clear: both;

}
.btn{
    padding: .5rem 1rem;
    font-style: italic;
    color: black;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
}
.btn:hover{
color: white;
background-color: black;
}


/* Logo */
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}
header .logo-text{
    font-family: Poppins;
    margin: 9px;
}


/* SearchBar */
header .searchbar{
    font-family: Poppins;
    float: left;
    height: 70px; 
    padding: 21px;
    display: flex;
    align-items: center;  
} 
input[type = text]{
    padding: 6px;
    border-radius:55px;
    display: block;
    background-color: #f6f6f6;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 17px;
    width: 960px;
    height: 40px;
    border: 1px solid white;
    font-family: Poppins;
}


/* Login and Register */
header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header ul li{
    float: left;
}
header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}
header ul li a:hover{
    background: black;
    transition: 0.5s;
    color: white;
}
header ul li a.actice{
    background: black;
}

/* CONTENT */
.content{
    width: 90%;
    margin: 30px auto 30px;
    
    
}
/* SIDEBAR */
.content .sidebar{
    width: 20%;
    float: left;
    height: 300px;
   
    
}
.content .sidebar .section{
    
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.content .sidebar .section.topic ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
   
    
}
.content .sidebar .section.topic ul li a{
    
    font-family: Poppins;
    color: black;
    font-size: 20px;
    display: block;
    padding: 15px 0px 15px;
    text-decoration: none;
    
}
.content .sidebar .section.topic ul li a:hover{
    padding-left: 10px ;
    transition: all 0.3s;

}
/* WORDINGS */
.content .bodycontent{
    text-align: center;
    width: 55%;
    margin-left: 130px;
    height: 450px;
    background-color: white;
    
}
.content .bodycontent .topic{
    font-family: Poppins;
}
.content .bodycontent .subtopic{
    font-family: Poppins;
    font-size: 20px;

    font-weight: 100;
}
/* CARD RECENT AND TOP POST */
.content .container{
    width: 70%;
    margin-left: 300px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.content .container .post-title{
    text-align: center;
    width: 100%;
    font-size: 50px;
    display: block;
    padding: 40px;
    float: left;
    

    
}
.content .container .card{
    background-color: white;
    width: 300px; 
    margin: 10px;
    border-radius: 15px;
}
.content .container .card-image{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.content .container  .car-1{   
    background-image: url("../img/AI.jpg");
}
.content .container .car-2{    
    background-image: url("../img/AI.jpg");
}
.content .container .car-3{   
    background-image: url("../img/AI.jpg");
}
.card h2{
    padding: 10px;
    text-align: center;
}
.card p{
    padding: 10px;
    text-align: center;
}
.card a{
    background-color: white;
    color: black;
    padding: 15px 20px;
    text-align: center;
    display: block;
    margin: 20px 50px;
    text-decoration: none;
}

.card a:hover{
    background-color: black;
    color: white;
    transition: all is ease;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all is ease;
}

/* BodyContent */
.bodycontent{
    font-family: Poppins;
    float: left;
    font-size: 40px;
    padding: 20px;
    width: 70%;
    height: 300px;
    
    
}

/* FOOTER */
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    width: 100%;
    position: relative;
    
}
.footer .footer-content{
    
    height: 300px;
    
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;
    
}
.footer .footer-bottom{
    
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

    

